
@{
    ViewBag.Title = "ReservationTimerErr";
}

<h2>Sorry but reservation time is up, you need to make a new one if you still want to rent this car!</h2>

<div class="margin-top-20">
    @Html.ActionLink("Back to List", "Index", "Home")
</div>